$light-blue: #5AA3ED; /*light blue*/
$maroon: #4F000B; /*maroon*/
$light-green: #4BED81; /*light green*/
$red: #D81159; /*red*/
$yellow: #EDDE5A; /*yellow*/
$navy: #0D2340; /*navy*/
$light-red: #ED6A5A; /*light red*/
$dark-gray: #252838;
$light-gray: #D5DDE1;

$bright-green: #00FF00;

$background-color: $light-green;
$main-color: $dark-gray;
$accent-color: $light-gray;

$tablet: 768px;
$laptop: 1024px;

html, body {
  margin: 0;
  padding: 0;
  color: $background-color;
  background-color: $main-color;
  font-family: monospace;
  overflow-x: hidden;
  -ms-overflow-style: none;  // IE 10+
  overflow: -moz-scrollbars-none;  // Firefox
  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }
}

header {
  margin: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  background-color: $background-color;
  color: $main-color;
  position: sticky;
  top: 0;
  opacity: 0.9;
  z-index: 100;
}

main {
  margin: 0;
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100vw;
  min-height: 94vh;
  background-image: url('images/main.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#status-boxes {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.messages-wrapper {
  position: relative;
  display: block;
  background-color: $main-color;
  color: $bright-green;
  opacity: 0.9;
  height: 25vh;
  margin: 5vh;
  padding: 1vh;
  font-family: monospace;
  .messages {
    height: 80%;
    overflow-y: scroll;
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
    &::-webkit-scrollbar {
      display: none;  // Safari and Chrome
    }
    .hidden {
      display: none;
    }
    p {
      opacity: 1.0;
      margin: 4px;
    }
  }
  h3 {
    margin: 4px;
  }
  &#log {
    margin-left: 1vh;
    margin-right: 1vh;
    h3 {
      border-bottom: 2px solid $accent-color;
    }
  }
}
@media (min-width: $tablet) {
  .messages-wrapper {
    margin-left: 20vw;
    margin-right: 20vw;
  }
}
@media (min-width: $laptop) {
  .messages-wrapper {
    margin-left: 30vw;
    margin-right: 30vw;
  }
}
.button {
  background-color: $main-color;
  color: $accent-color;
  width: 100%;
  border: none;
  margin: 1vw;
  padding: 1vw;
  text-align: center;
}

.image-container {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.controls {
  background-color: $main-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h3 {
    color: $background-color;
  }
  .button-wrapper {
    display: flex;
    flex-direction: row;
    .button {
      width: 90%;
      margin: 1.5vh;
    }
  }
}

.thing {
  height: 40vh;
  width: auto;
}
